body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.search-form{
  margin-top: 300px;
}

.center{
  display: flex;
  justify-content: center;
}

.search-input{
  margin-left: 10px;
  margin-top: 5px;
  width: 200px;
}

.search-btn{
  margin-left: 10px;
  margin-top: 5px;
  height: 35px;
  width: 100px;
}

.flight-type{
  margin-top: 20px;
}

.label{
  color: black;
  font-size: 12px;
  margin-top: -2px;
  margin-right: 5px;
  margin-left: 5px;
}

.date{
  margin-top: 5px;
}


.preloader-1 {
  margin: 0 auto 0;
  margin-top: -100px;
  height: 20px;
}



.pre-div {
  color: #fff;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.preloader-1 .line {
  width: 1px;
  height: 30px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}


.preloader-1 .line-1  { animation-delay: 1600ms; }
.preloader-1 .line-2  { animation-delay: 1400ms; }
.preloader-1 .line-3  { animation-delay: 1200ms; }
.preloader-1 .line-4 { animation-delay: 1000ms; }
.preloader-1 .line-6 { animation-delay: 800ms; }
.preloader-1 .line-7 { animation-delay: 600ms; }
.preloader-1 .line-8 { animation-delay: 400ms; }
.preloader-1 .line-9 { animation-delay: 200ms; }
.preloader-1 .line-10 { animation-delay: 200ms; }
.preloader-1 .line-11 { animation-delay: 400ms; }
.preloader-1 .line-12 { animation-delay: 600ms; }
.preloader-1 .line-13 { animation-delay: 800ms; }
.preloader-1 .line-14 { animation-delay: 1000ms; }
.preloader-1 .line-15 { animation-delay: 1200ms; }
.preloader-1 .line-16 { animation-delay: 1400ms; }
.preloader-1 .line-17 { animation-delay: 1600ms; }


@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

.btn-price{
  margin-left: 35px;
  color: rgb(233, 111, 12);
  width: 90px;
}
.btn-price:hover{
  background-color: #1f72df;
}

.btn-price-text{
  color: white;
  font-size: 13px;
  
}

.gray-text{
  color: #2c2c2c9a;
}

.airport-div{
  margin-top: 10px;
}

.fligt-icon{
  margin-right: 10px;
}

.searc-form-in-flights{
  margin-top: 50px;
}

.flight-filter{
  padding-top: 10px;
}